:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

  body {
    /* margin: 0; */
    font-family: 'Quicksand', sans-serif;
  }

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    /* Genera la cantidad de columnas que entren en el ancho de la pagina. Columnas de 240 px */
    gap: 26px;
    place-content: center;
}

.product-card{
    width: 240px;
}

.img{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
} 

.img::before{
    content: "Add to Cart";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--hospital-green);
    transform: translate(100%);
    transition: transform .5s;
    color: var(--white);
    font-size: var(--lg);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.img:hover::before{
    transform: translate(0);
}

.product-card img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
   
}

.product-card img:hover{
    /* transform:scale(1.1); */
    /* filter: blur(5px); */
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}

.price{
    font-weight: bolder;
    margin-bottom: 0;
    font-size: var(--md);
}

.description{
   color: var(--very-light-pink);
   font-size: var(--sm);
   margin-top: 2px;
}

@media(max-width: 640px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
        align-content: center;
        justify-content: center;
    }

    .product-card{
        width: 140px;
    }
    
    .product-card img{
        width: 140px;
        height: 140px;
    }
    
}

