:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7 ;
    --just-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
   /*  border: 0.5px solid black; */
  /*  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    background: rgb(247,147,26);
    background: linear-gradient(146deg, rgba(247,147,26,1) 0%, rgba(138,58,180,1) 100%);
}

/* header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
} */

header img{
    width: 160px;
    height: 160px;
   /*  margin-top: 10px; */
    object-fit: contain;
}

.header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
  /*   margin-top: 40px; */
     /* border: 0.5px solid black; */
}

.header-title-container h1{
    font-weight: bold;
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    /*ESPACIADO ENTRE LINEAS*/
    margin-bottom: 15px;
}

.header-title-container p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
    margin-top: 1.5rem;
}

.header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 3.5rem;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*PRIMER VALOR, DESPLAZAMIENTO HORIZONTAL, LUEGO VERTICAL. 
    TERCER VALOR: DESENFOQUE DE LA SOMBRA.
    4TO VALOR, DIFUSION DE SOMBRA.
    5TO VALOR ES COLOR.
    RGBA SIRVE PARA LA OPACIDAD.
    SE PUEDE AGREGAR INSET PARA SOMBRE INTERNA.
    https://www.youtube.com/watch?v=bv2bptov9Is*/
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}

main{
    width: 100%;
    height: auto;
    /*PARA QUE EL CONTENIDO DICTE LA ALTURA DEL MAIN*/
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}

.main-exchange-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.background-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./ingles/english.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rm;
    color: var(--black);
}

.main-exchange-container-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #757575;
    margin-top: 2.5rem;
}


/**/

.exchange-tablesContainer {
    display: inline-block;
	margin-top: 25px;
	width: 65%;
	align-self: center;
	min-width: 110px;
	max-width: 520px;
	text-align: left;
}

.tableContainer {
	display: flex;
	flex-direction: column;
}

.tableContainer h3 {
    display: flex;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2.3rem;
	color: #ff9536;
	margin-bottom: 12px;
    justify-content: start;
}

.grid-tableContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 8px;
	font-family: 'Inter', sans-serif;
	grid-gap: 1.5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.grid-tableContainer div {
	padding: 10px 12px;
	display: flex;
	background-color: var(--just-white);
}

.grid-tableContainer div:nth-child(1) {
	border-top-left-radius: 4px;
}

.grid-tableContainer div:nth-child(2) {
	border-top-right-radius: 4px;
}

.grid-tableContainer div:nth-child(7) {
	border-bottom-left-radius: 4px;
}

.grid-tableContainer div:nth-child(8) {
	border-bottom-right-radius: 4px;
}

.grid-tableContainer div:nth-child(2n) {
	justify-content: center;
}

.grid-tableContainer div h4 {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: #b5b0ac;
}

.grid-tableContainer div h5 {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.7rem;
	color: #757575;
}

.grid-tableContainer div h5 span {
	display: inline-block;
	margin-left: 10.5px;
	width: 12px;
	height: 8px;
	background-image: url('./assets/icons/trending-up.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #F5450D;
}

.grid-tableContainer div:nth-child(4) h5 span {
	display: inline-block;
	margin-left: 10.5px;
	width: 12px;
	height: 8px;
	background-image: url('./assets/icons/trending-up.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #F5450D;
}

.table-updateDate {
	background-color: var(--soft-orange);
	color: var(--warm-black);
	padding: 8px;
	text-align: center;
	margin-top: 20px;
	border-radius: 8px;
	width: 90%;
	align-self: center;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.table-updateDate p {
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.45em;
}

.table-updateDate span {
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.45em;
    text-align: right;
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.batata-logo{
    position: absolute;
    background-image: url(./ingles/2-PhotoRoom.png-PhotoRoom.png);
    width: 120px;
    height: 120px;
    top: -50px;
    left: 32%;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-detail-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;
}

.product-detail-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #808080;
    font-weight: 500;
    line-height: 1.8rem;
}

.product-card{
   width: 90%;
   min-width: 288px;
   max-width: 400px;
   height: 150px;
   margin: 15px auto;
   padding: 15px;
   background-color: var(--black);
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.clock{
    display: inline-block;
    background-image: url(./assets/icons/clock.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card-title{
    color: var(--just-white);
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
}

.product-card-body{
    color: #808080;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.eye{
    display: inline-block;
    background-image: url(./assets/icons/eye.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*    display: inline-block;
    background-image: url(./assets/icons/clock.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/

.dolar{
    display: inline-block;
    background-image: url(./assets/icons/dollar-sign.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.check{
    display: inline-block;
    background-image: url(./assets/icons/check-circle.svg);
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bitcoin-img-container{
    width: 100%;
    min-height: 320px;
    height: 50vh;
    background-image: url(./ingles/pexels-andrea-piacquadio-3769021.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(89, 73,30, 0.16);
}

.bitcoin-img-container h2{
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    padding-top: 40px;
}

.main-class-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.plans-title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    padding-top: 20px;
}

.plans-container-cards{
    position: relative;
    scroll-snap-align: center;
    /*SE USA ESTA PROPIEDAD PARA EL SCROLL HORIZONTAL*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73,30, 0.16);
}

.first-one{
    background: linear-gradient(322deg, rgba(242,166,13,1) 1%, rgba(198,70,252,1) 100%);
}

.second-one{
    background: linear-gradient(322deg, rgba(13,242,174,1) 1%, rgba(70,89,252,1) 100%);
}

.third-one{
    background: rgb(252,69,137);
    background: linear-gradient(146deg, rgba(252,69,137,1) 0%, rgba(76,58,180,1) 100%);
}

.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    font-family: 'Inter';
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    padding: 8px;
    margin-bottom: 25px;
}

.plan-card-title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card-price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}

.plan-card-price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 28px;
}

.plan-card-saving{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: white;
}

.plan-card-calltoaction1{
    width: 150px;
    height: 48px;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--off-white);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
   /*  text-align: center; */
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.plan-card-calltoaction1 span,
.plan-card-calltoaction2 span,
.plan-card-calltoaction3 span
{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    vertical-align: center;
    margin-left: 8px;
}

.plan-card-calltoaction2{
    width: 150px;
    height: 48px;
    border: 2px solid #25b1cf;
    background-color: var(--off-white);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
   /*  text-align: center; */
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.plan-card-calltoaction3{
    width: 150px;
    height: 48px;
    border: 2px solid #fc4589;
    background-color: var(--off-white);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
   /*  text-align: center; */
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.plans-container-slider{
    /*SCROLL HORIZONTAL*/
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 30px;
   /*  gap: 10px; */
}

.plans-container-slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}

.plans-container-slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}

.left a{
    text-decoration:  none;
    color: var(--just-white);
}

.right img{
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


/*-----------------------------------*/

@media screen and (min-width:340px){
    .batata-logo{
        display: none;
    }
    .bitcoin-img-container h2{
       padding-top: 20px;
    }
}

@media screen and (min-width:768px){
    .bitcoin-img-container h2{
        color: var(--just-white);
    }
}

@media screen and (min-width:930px){
    .product-cards-container{
        display: flex;
        flex-wrap: wrap;
        width: 930px;
        margin: 0 auto;
    }
    
    .plans-container-slider{
        justify-content: center;
    }

    .batata-logo{
        display: block;
        top: -50px;
        left: 44%;
    }

    .bitcoin-img-container h2{
        color: var(--just-white);
    }
}

@media screen and (min-width:1440px){
    .batata-logo{
        display: block;
        top: -50px;
        left: 46%;
    }
    .first-one:hover {
        box-shadow: 0px 4px 8px rgba(26, 25, 25, 0.5);
        transform: scale(1.05);
        transition: all 0.5s ease;
    }

    .second-one:hover {
        box-shadow: 0px 4px 8px rgba(26, 25, 25, 0.5);
        transform: scale(1.05);
        transition: all 0.5s ease;
    }

    .third-one:hover {
        box-shadow: 0px 4px 8px rgba(26, 25, 25, 0.5);
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
}

