p {
    color: rgb(153, 39, 130);
    font-size: 30px;
}

/*CLASS. Puedo llamar al elemento usando .class y el nombre de la clase.
Para eso debo poner el atributo clase y el nombre en el elemento dentro del codigo html*/
.titulo {
    color: black;
    font-size: 40px;
}

/*ID. Es similar a CLASS pero se llama con un # y el nombre dado.*/
#parrafo{
    color: coral;
    font-size: 30px;
}

html{
    background-color: pink;
}
h1{
    color: purple;
    font-weight: bold;
}

.item{
    color:deeppink;
    font-size: 12px;
}

.lista{
    font-weight: bold;
    position:sticky;
    top: 0;
}