* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/*Preparamos los valores para usar medidas REM*/

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
/*Quitamos el padding y margin propios de la pagina*/

a {
    text-decoration: none;
    color: black;
}
/*Elimina el formato de link de los elementos A*/
/* ------------------------------------------------------ */

main {
    display: flex;
    /*Necesario para poder centrar el contenido*/
    width: 100vw;
    height: 100vh;
    /*Ocupa todo el ancho y alto de la pantalla*/
    align-items: center;
    /*Alinea verticalmente*/
    justify-content: center;
    /*Alinea horizontal*/
    /*background-color: rgb(12, 61, 134);*/
    background: url(./3145610desenfocado.jpg)center/cover no-repeat;
    /*Centra la imagen de fondo*/
}

.card-container {
    width: 350px;
    height: 480px;
    /*display: inline-block;*/
    position: relative;
    background-color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 10px 50px #0d007e65;
}

.img-background {
   /* display: inline-block;*/
    width: 100%;
    height: 160px;
    background: url("./2868963.jpg") center/cover no-repeat;
    z-index: 1;
}

.card-img-profile {
    /*display: inline-block;*/
    position: absolute;
    top: 90px;
    left: 104px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 2;
    background: url("./profile.jpg") center/cover no-repeat;
}

/* ------------------------------------------------------ */

.content {
    display: flex;
    width: 100%;
    margin: 45px auto 20px;
    flex-direction: column;
    margin-top: 55px;
}

.content h1 {
    width: 65%;
    margin: 10px auto 7px;
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(211, 211, 211, 0.65);
    color: #025395;
}

.content p {
    padding: 0 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
}

/* ------------------------------------------------------ */

.card_information {
    display: flex;
    width: 100%;
    height: 40px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    margin-top: 35px;
    font-size: 1.2rem;
}

.country {
    display: grid;
    grid-template-columns: 20px 60px;
}

.country:hover {
    display: grid;
    grid-template-columns: 20px 60px;
    color: #025395;
}

.card_information img {
    width: 15px;
}

.mail {
    display: grid;
    grid-template-columns: 20px 85px;
}

.mail:hover {
    display: grid;
    grid-template-columns: 20px 85px;
    color: #025395;
}

/* ------------------------------------------------------ */

.Follow {
    display: grid;
    grid-template-columns: 60px 60px;
    justify-content: space-evenly;
    background-color: rgb(214, 214, 214);
    color: black;
    border-top: 2px solid rgba(248, 248, 248, 0.876);
}

span {
    font-size: 1.3rem;
    font-weight: 700;
}

/*.followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.following {
     display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ------------------------------------------------------ */

.button {
    display: flex;
    width: 100%;
    padding: 20px;
    padding-top: 13px;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    background-color: #025395;
    color: white;
}

.button:hover{
    display: flex;
    width: 100%;
    padding: 20px;
    padding-top: 13px;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    background-color: #025395;
    color:  black;
    font-weight: bolder;
}

